@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400..700;1,400..700&display=swap');

:root {
  /*Colors*/
  --main-background: #f8f9fa;
  --darkest: #212529;
  --dark-gray: #6c757d;
  --middle-gray: #adb5bd;
  --light-gray: #e9ecef;
  --interactivity-gray: #495057;
  /*Font*/
  --biggest-font-size: 2.5rem;
  --big-font-size: 1.8rem;
  --middle-font-size: 1.4rem;
  --small-font-size: 0.9rem;
  /*Preset values*/
  --wrapper-box-shadow: 0px 0px 5px 2px rgba(97, 97, 97, 0.33);
  --light-border-radius: 2px;
}

body {
  background-color: var(--main-background);
  font-family: 'Raleway', sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  color: var(--darkest);
}

main {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

h1 {
  font-size: var(--biggest-font-size);
}

header,
.search-wrapper {
  text-align: center;
  margin: 1.5rem auto;
  padding: 0 5px;
}

form {
  display: flex;
  /* justify-content: center; */
  gap: 0.5rem;
}

label {
  position: relative;
}

.autocomplete {
  outline: 1px solid var(--middle-gray);
  padding: 5px 5px 5px 15px;
  border-radius: var(--light-border-radius);
}

.autocomplete:focus {
  outline: 1px solid var(--interactivity-gray);
}

.autocomplete-wrapper {
  position: absolute;
  top: 35px;
  right: 0;
  width: 100%;
  border-radius: var(--light-border-radius);
  background-color: var(--main-background);
  box-shadow: var(--wrapper-box-shadow);
  outline: 1px solid var(--middle-gray);
}

.address-wrapper,
.autocomplete-wrapper {
  display: flex;
  flex-direction: column;
}

.address-wrapper:hover {
  cursor: pointer;
  background-color: var(--light-gray);
}

.city {
  font-size: 0.9rem;
  font-weight: 800;
  padding: 10px 0 0 0;
}

.country {
  font-size: 0.7rem;
  padding: 5px 0;
}

.find-btn {
  border-bottom: 3px solid var(--interactivity-gray);
  padding: 5px 1.5rem 2px 1.5rem;
  font-weight: 300;
  position: relative;
  border-radius: var(--light-border-radius);
}

.find-btn:hover {
  color: var(--main-background);
}

.find-btn::after {
  position: absolute;
  content: '';
  right: 0;
  bottom: 0;
  width: 100%;
  background-color: var(--interactivity-gray);
  z-index: -1;
  transition: 0.2s ease-in;
  height: 0%;
}

.find-btn:hover::after {
  height: 100%;
  border-radius: 2px 2px 0 0;
}
/*MAIN*/

.main-wrapper {
  display: grid;

  padding: 0 10px;
  /* flex-direction: column; */
  row-gap: 10px;

  margin: 0 auto;
}

/*main window*/
.big-window-wrapper {
  display: flex;
  justify-content: center;
  /* padding: 0 10px; */
  grid-column: 1;
}

.big-window__main-information {
  display: grid;
  /* flex-wrap: wrap; */
  gap: 2rem;
  border-radius: 10px;
  box-shadow: var(--wrapper-box-shadow);
  padding: 1.3rem;
}

.left-window {
  display: grid;
  justify-items: center;
  align-items: center;
  color: var(--darkest);
  grid-column: 1/2;
}

.img-wrapper {
  width: 100%;
  justify-self: start;
}

img {
  width: 100%;
  height: auto;
}

.temperature {
  font-size: var(--biggest-font-size);
  font-weight: 900;
  margin-bottom: 8px;
}

.main-information__text-wrapper {
  grid-row: 2;
  grid-column: 1/3;

  display: grid;
  row-gap: 15px;
}

.location {
  text-align: center;
  font-size: var(--big-font-size);
  font-weight: 700;
}

.state-description {
  text-align: center;
  font-size: var(--middle-font-size);
  font-weight: 500;
  color: var(--middle-gray);
}

.right-window {
  font-family: 'Cabin', sans-serif;
  width: 100%;
  grid-column: 1;
}

.additional-information__wrapper {
  margin: 20px 0;
  display: flex;
  gap: 10px;
  flex-direction: column;
}

.small-wrapper {
  display: flex;
  justify-content: space-between;
  box-shadow: 0px 3px 5px 0px rgba(97, 97, 97, 0.33);
  background-color: var(--main-background);
  border-radius: 10px;
  padding: 10px 15px;
  font-size: var(--small-font-size);
  color: var(--dark-gray);
  min-width: 25vw;
}

.small-wrapper > .value {
  font-weight: 500;
  color: var(--darkest);
  margin-left: 25px;
}

/*Hourly window*/
.hourly-weather__wrapper {
  display: flex;
  justify-content: center;
  /* padding: 0 10px; */
  font-family: 'Cabin', sans-serif;
  font-size: var(--small-font-size);
  font-weight: 700;
  min-width: 25vw;
  grid-column: 1;
}

.hourly-weather__inner-wrapper {
  display: flex;
  justify-content: center;
  flex-direction: column;
  flex-grow: 1;
  gap: 8px;
  border-radius: 10px;
  box-shadow: var(--wrapper-box-shadow);
  padding: 1.3rem;
}

.inner-wrapper-row {
  display: flex;
  justify-content: space-around;
  gap: 15px;
  padding: 0.5rem;
  background-color: var(--light-gray);
  border-radius: 10px;
}

/* Next 5 days */
.next-5days__wrapper {
  font-family: 'Cabin', sans-serif;
  font-size: var(--small-font-size);
  font-weight: 700;
  /* grid-column: 1/3; */

  justify-self: center;
  width: 250px;
  position: relative;
}

.arrow {
  position: absolute;
  content: '';
  top: calc(55% - 25px);
  width: 25px;
  height: 25px;
  background: url('../assets/angle-left.svg');
  background-size: cover;
  cursor: pointer;
}

.arrow-left {
  left: -9%;
}

.arrow-right {
  right: -9%;
  transform: rotate(180deg);
}

.next-5days__inner-wrapper {
  display: flex;
  /* display: grid;
  grid-template-columns: repeat(5, 1fr); */
  gap: 10px;
  padding: 5px;
  overflow: hidden;
  /* padding: 1.3rem; */
}

.day-wrapper,
.weekday-information {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 10px;
}

.day-wrapper {
  border-radius: 10px;
  box-shadow: var(--wrapper-box-shadow);
  padding: 12px;
  grid-row: 1;
  flex-grow: 1;

  width: 240px;
  flex-shrink: 0;
}

.date {
  font-weight: 100;
  font-size: 0.8rem;
  color: var(--middle-gray);
}

@media (min-width: 768px) {
  .right-window,
  .hourly-weather__wrapper {
    grid-column: 2;
  }

  .main-wrapper {
    gap: 10px;
  }

  .arrow {
    display: none;
  }

  .next-5days__inner-wrapper {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    /* overflow: none; */
  }

  .next-5days__wrapper {
    grid-column: 1/3;
    width: initial;
  }

  .day-wrapper {
    width: initial;
  }
}
/*// https://www.youtube.com/watch?v=l8pe_MSX4Lc*/
